@model IEnumerable<Reserva>

@{
    ViewData["Title"] = "Listado de Reservas";
}

<h1>Reservas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Reserva</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Profesor</th>
            <th>Correo</th>
            <th>Laboratorio</th>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Motivo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.CodigoReserva</td>
                <td>@r.NombreProfesor</td>
                <td>@r.CorreoInstitucional</td>
                <td>@r.LaboratorioSeleccionado</td>
                <td>@r.FechaReserva.ToString("yyyy-MM-dd")</td>
                <td>@r.HoraInicio</td>
                <td>@r.HoraFin</td>
                <td>@r.Motivo</td>
            </tr>
        }
    </tbody>
</table>
